.header {
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
  text-decoration: underline;
}

.header-image {
  width: 100px;  
  height: auto;  
  margin-right: 20px; 
  margin-left: 10px;
  border-radius: 20%;
  border-style: double;
}

p {
  margin-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}


.order-summary {
  position: flex;
  margin-left: 100px;
}